<div class="row">
<div class="col-sm-12">
<center>
<%if @current_user %>
<h1><%=@visits%> of 30 Ballparks Visited!</h1>
<% if @visits == 30%>
<h1>Congratulations, you are a true fan!</h1>
<% end %>
<%end%>
</center>
<br>
</div>
</div>

<div class="row">
<% for ballpark in @ballparks %>
    <div class="col-sm-2">
        <a href="/ballparks/<%= ballpark[:id] %>">
        <center>
            <img src="<%=ballpark[:path]%>" width="160" height="90">
        </center>
        <center>
            <font size="-1"><%= ballpark[:team] %>
        <%if @current_user %>
            <% if @rsvps.where(ballpark_id: ballpark[:id], user_id: @current_user[:id], going: true).count == 1%>
                <i class="fa fa-check"></i>
            <%end %>
        <%else%>
        <%end%></font size>
        </center>  
        </a>
        <br>
    </div>
<% end %>
</div>