<center>
<h1>X of 30 Ballparks Visited!</h1>
</center>
<br>

<div class="row">
<% for ballpark in @ballparks %>
    <div class="col-sm-2">
    <a href="/ballparks/<%= ballpark[:id] %>">
    <center>
    <img src="<%=ballpark[:path]%>" width="160" height="90">
    </center>
    <center>
    <font size="-1"><%= ballpark[:team] %>
    </font size>
    </center>
    </a>
    <br>
    </div>
    <% end %>
</div>