<h1>Thanks for signing up!</h1>
<<<<<<< HEAD
<p><a href="/ballparks" class="btn btn-primary">Go Home</a></p>
=======
<p><a href="/ballaprks" class="btn btn-primary">Go Home</a></p>
>>>>>>> 78d910bdb53f598bf8af33db523b5b4e9686b322
