<h1>Edit visit to <%= @ballpark[:name] %></h1>

<form action="/rsvps/<%= @rsvp[:id] %>/update" method="post">
  <div class="form-group">
    <label>Comments</label>
    <textarea class="form-control" rows="3" name="comments">
    <%= @rsvp[:comments] %></textarea>
  </div>
  <button type="submit" name="going" value="1" class="btn btn-primary">Submit</button>
</form>