<div class="row">
  <div class="col text-center">
    <img src="https://media0.giphy.com/media/l2SpVLYGLAI1di9bi/giphy.gif">

    <h1 class='mt-5'>You struck out!</h1>
    <p><a href="/" class="btn btn-primary">Try Again</a></p>
  </div>
</div>