<div class="row">
    <div class="col-md-6">
<center>
    <img src="../images/minimalist_ballparks.png" width="435" height="580">
</center>
</div>

 <div class="col-md-6">
 <form action="/logins/create" method="post">
  <label><font size="+3">Existing Users</font></label>
  <div class="form-group">
    <input type="email" class="form-control" placeholder="Email Address" name="email">
  </div>
  <div class="form-group">
    <input type="password" class="form-control" placeholder="Password" name="password">
  </div>
  <button type="submit" class="btn btn-primary">Sign In</button>
</form>
<br>
<form action="/users/create" method="post">
<label><font size="+3">New Users</font></label>
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Username" name="username">
  </div>
   <div class="form-group">
    <input type="password" class="form-control" placeholder="Password" name="password">
  </div>
  <div class="form-group">
    <input type="email" class="form-control" placeholder="Email Address" name="email">
  </div>
    <div class="form-group">
    <input type="text" class="form-control" placeholder="Name" name="name">
  </div>
  <div class="form-group">
         <select class="form-control" placeholder="Favorite Team" name="favoriteteam">
      <option value="1">Team A</option>
      <option value="2">Team B</option>
      <option value="3">Team C</option>
  </select>
    </div>
  <button type="submit" class="btn btn-primary">Sign Up</button>
</form>
</div>
</div>