<div class="row">
    <div class="col-md-6">
<center>
<br>
    <img src="https://i.imgur.com/XBGwj7e.png" width="479" height="671">
</center>
    </div>

 <div class="col-md-6">
 <form action="/logins/create" method="post">
  <label><font size="+3">Existing Users</font></label>
  <div class="form-group">
    <input type="email" class="form-control" placeholder="Email Address" name="email" required>
  </div>
  <div class="form-group">
    <input type="password" class="form-control" placeholder="Password" name="password" required>
  </div>
  <button type="submit" class="btn btn-primary">Sign In</button>
</form>
<br>
<form action="/users/create" method="post">
<label><font size="+3">New Users</font></label>
    <div class="form-group">
    <input type="email" class="form-control" placeholder="Email Address" name="email" required>
  </div>
   <div class="form-group">
    <input type="password" class="form-control" placeholder="Password" name="password" required>
  </div>
<div class="form-group">
    <input type="text" class="form-control" placeholder="Username" name="username" required>
  </div>
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Name" name="name" required>
  </div>
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Zipcode" name="zipcode" pattern="[0-9]{5}" required>
  </div>
  <div class="form-group">
    <input type="tel" class="form-control" placeholder="Phone Number: +1xxxxxxxxxx" name="phone" pattern="+1[0-9]{10}" required>
  </div> 
  <label>Favorite Team</label>
  <div class="form-group">
         <select class="form-control" placeholder="Favorite Team" name="favoriteteam" required>
        <option value="1">Arizona Diamondbacks</option>
        <option value="2">Atlanta Braves</option>
        <option value="3">Baltimore Orioles</option>
        <option value="4">Boston Red Sox</option>
        <option value="5">Chicago Cubs</option>
        <option value="6">Chicago White Sox</option>
        <option value="7">Cincinnati Reds</option>
        <option value="8">Cleveland Indians</option>
        <option value="9">Colorado Rockies</option>
        <option value="10">Detroit Tigers</option>
        <option value="11">Houston Astros</option>
        <option value="12">Kansas City Royals</option>
        <option value="13">Los Angeles Angels</option>
        <option value="14">Los Angeles Dodgers</option>
        <option value="15">Miami Marlins</option>
        <option value="16">Milwaukee Brewers</option>
        <option value="17">Minnesota Twins</option>
        <option value="18">New York Mets</option>
        <option value="19">New York Yankees</option>
        <option value="20">Oakland Athletics</option>
        <option value="21">Philadelphia Phillies</option>
        <option value="22">Pittsburgh Pirates</option>
        <option value="23">San Diego Padres</option>
        <option value="24">San Francisco Giants</option>
        <option value="25">Seattle Mariners</option>
        <option value="26">St Louis Cardinals</option>
        <option value="27">Tampa Bay Rays</option>
        <option value="28">Texas Rangers</option>
        <option value="29">Toronto Blue Jays</option>
        <option value="30">Washington Nationals</option>
  </select>
    </div>
  <button type="submit" class="btn btn-primary">Sign Up</button>
</form>
<br>
</div>
</div>