<div class="row">
    <div class="col-md-6">
<center>
<br>
    <img src="https://i.imgur.com/XBGwj7e.png" width="479" height="671">
</center>
    </div>

 <div class="col-md-6">
 <form action="/logins/create" method="post">
  <label><font size="+3">Existing Users</font></label>
  <div class="form-group">
    <input type="email" class="form-control" placeholder="Email Address" name="email" required>
  </div>
  <div class="form-group">
    <input type="password" class="form-control" placeholder="Password" name="password" required>
  </div>
  <button type="submit" class="btn btn-primary">Sign In</button>
</form>
</div>
</div>