<h4>Username: <%= @current_user[:username]%></h4>
<h4>Email: <%= @current_user[:email]%></h4>
<h4>Phone: <%= @current_user[:phone]%></h4>
<h4>Favorite Team: <%= @current_user[:favoriteteam]%></h4>
<a href="/ballparks" type="submit" class="btn btn-primary">Take me (back) to the Ballparks...</a>